{% extends "tonetutor/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <title>{{ user.username }} Profile</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
{% endblock %}

{% block body %}
    {{block.super}}
    <table>
        <tr>
            <td>User: </td> <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Joined: </td> <td>{{ user.date_joined }}</td>
        </tr>
        <tr>
            <td>Registration Code: </td> <td>{{ user.profile.registration_code.code }}</td>
        </tr>
        <tr>
            <td>{{ subscription_expiry_message }}</td>
        </tr>
    </table>

    <p>Current color theme: {{color_theme_display_name}}</p>
    <ul>
        <li><a href="{% url 'tonetutor_set-color-theme' %}?theme_name=greys">Set color theme 'Greys'</a></li>
        <li><a href="{% url 'tonetutor_set-color-theme' %}?theme_name=inverted">Set color theme 'Inverted'</a></li>
        <li><a href="{% url 'tonetutor_set-color-theme' %}?theme_name=purple">Set color theme 'Purple'</a></li>
    </ul>
    

    <p><a href="{% url 'tonetutor_tutor' %}">Take me to the Tone Tutor</a></p>
{% endblock %}
